
/***** colors *****/

$primary: #61a8ff;
$dark: #000000c0;
$success:#f1f1f1a8;

/***** End colors *****/

/***** spacing *****/

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 10,
  10: $spacer * 12.5,


);

/***** End spacing *****/



// /***** WIDTH *****/

// $utilities: (
//    "width": (
//       property: width,
//       class: w,
//       values: (
//         25: 25%,
//         50: 50%,
//         75: 75%,
//         100: 100%,
//         auto: auto
//       )
//     ),
// );
    
// /***** End WIDTH *****/

@import "./node_modules/bootstrap/scss/bootstrap.scss";




